header h1 { 
  text-align: center;
  font-size: 111px;
  padding-block: 3%;
  color: rgb(245, 245, 12);
}

#current-data {
  font-size: x-large;
  text-align: center;
  color: rgb(237, 245, 12);
}

.future-date-container {
  display: inline-flex;
  justify-content: space-between;
  font-size: x-large;
  margin: 1.5%;
  color: white;
  background-image: url("./images/aside.jpg");
  border-radius: 25px;
}

body {
  background-image: url("./images/header.webp");
  background-size: cover;
}

aside {
  margin-right: 20px;
  padding: 13px;
  clear: both;
  float: right;
  width: 15%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url("./images/aside.jpg");
  border-radius: 25px;
  align-items: flex-end;
}

.form-control {
  justify-content: flex-start;
  margin-right: 100%;
  border-radius: 25px;
  display: flex;
}

.history-search-btn {
  color: black;
  background-color: rgb(227, 255, 71);
  display: inline-block;
  border-radius: 25px;
}

#submit {
background-color: rgb(243, 6, 109);
font-size: large;
border-radius: 25px;
}