header {
  padding: 0px 10px;
}

header h1 { 
  text-align: center;
  font-size: 80px;
  color: rgb(245, 245, 12);
}

#current-data {
  font-size: x-large;
  text-align: center;
  color: rgb(250, 245, 250);
  background-color: rgb(243, 6, 109);
  border-radius: 25px;
}

.future-date-container {
  display: inline-flex;
  justify-content: space-between;
  font-size: x-large;
  margin: 1.5%;
  color: white;
  background-color: rgb(243, 6, 109);
  border-radius: 25px;
}

body {
  background-image: url("./images/header.webp");
  background-size: cover;
}

.search {
  padding: 0px 5px;
}

.form-control {
  justify-content: flex-start;
  margin-right: 100%;
  border-radius: 25px;
  display: flex;
}

.history-search-btn {
  color: black;
  background-color: rgb(227, 255, 71);
  display: inline-block;
  border-radius: 25px;
}

#submit {
  background-color: rgb(243, 6, 109);
  font-size: large;
  border-radius: 25px;
}